.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.18);
  border: 0;
  border-radius: 10px;
  padding: 1rem 1.4rem;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.error {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: rgb(224, 69, 69);
  font-weight: 600;
}
