.container {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--header-color);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  position: fixed;
  top: 0;
  z-index: 99;
}

.header__image-box {
  width: auto;
  height: 100%;
}

.header__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
