button {
  font-family: "Montserrat", sans-serif;
}

.button {
  display: flex;
  border: 0px;
  border-radius: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  animation: fadeInOut 1s ease-out;
  transition: 0.3s all ease-out;

  &-action {
    background-color: $color-blue-1;
    color: $color-grey-1;
    &:hover,
    &.active {
      background-color: $color-pink-1;
    }
  }
  &-close {
    background-color: $color-grey-2;
    color: $color-grey-1;
  }
}
