.input {
  &__dark {
    color: $color-grey-1;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $color-grey-2;
    border-radius: 2rem;
    padding: 0.8rem 2rem;

    &:focus {
      outline: none;
    }
  }
}

.select {
  &__contacts {
    background-color: $color-grey-1;
    border-radius: 2rem;
    padding: 0.8rem;
  }
}

.form {
  &__section {
    &-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
