.input {
  &__amount {
    color: $color-grey-1;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $color-grey-2;
    border-radius: 2rem;
    padding: 1rem;

    &:focus {
      outline: none;
    }
  }
}
