* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 100%;
}

p {
  margin-bottom: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: $bg-color-dark;
  min-height: 100vh;
  width: 100%;
  color: $color-grey-1;
}

.hidden {
  opacity: 0;
}
