.app {
  font-weight: 700;
  font-size: 2rem;
}

.balance {
  &__amount {
    font-size: 5vw;
    margin-bottom: 0;
  }
}

.dolar {
  &__text {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 0;

    &-alt {
      color: $color-blue-1;
    }
  }
}

.activity {
  &__item {
    &-title {
      color: $color-blue-1;
    }
  }
}

.form {
  &__label {
    color: $color-pink-1;
  }
}

@media screen and (max-width: 768px) {
  .balance {
    &__amount {
      font-size: 8vw;
    }
  }
}
