#app {
  padding: 0rem 5vw;
  max-width: 1024px;
  margin: 80px auto;
  animation: fadeInOut 1s ease-out 1s;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.section {
  padding: 2rem;
  border-radius: 2rem;
  width: 100%;
  // background-color: rgba(0, 0, 0, 0.094);
}

#balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.094);
  overflow: scroll;

  //   border: 1px solid red;
}
#dolar {
  //   border: 1px solid yellow;
}
#movements {
  //   border: 1px solid blue;
}
.movements {
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }
  &__title {
    margin-bottom: 3rem;
  }
}
#activity {
  //   border: 1px solid green;
}

@media screen and (max-width: 768px) {
  .movements {
    &__buttons {
      justify-content: center;
    }
  }
}
