#app {
  padding: 0rem 5vw;
  max-width: 1024px;
  margin: 80px auto;
  animation: fadeInOut 1s ease-out 1s;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.section {
  padding: 2rem;
  border-radius: 2rem;
  width: 100%;
  animation: fadeInOut 1s ease-out 1s;
  // background-color: rgba(0, 0, 0, 0.094);
}

#balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.094);
  overflow: scroll;

  //   border: 1px solid red;
}
#dolar {
  //   border: 1px solid yellow;
}
#movements {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: fit-content;
  //   border: 1px solid blue;
}
.movements {
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 2rem;
  }
  &__title {
    margin-bottom: 3rem;
  }

  &__actions {
    background-color: $bg-color-dark-2;
    width: 100%;
    height: 100%;
    border-radius: 2rem;

    &-receive {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 3rem;
      animation: fadeInOut 1s ease-out;
      padding: 2rem;
    }
    &-send {
      animation: fadeInOut 1s ease-out;
      padding: 2rem;
    }
  }
}
#activity {
  transition: 1s all ease-out;
  //   border: 1px solid green;
}

@media screen and (max-width: 768px) {
  .movements {
    &__buttons {
      justify-content: center;
    }
  }
}
